<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #e3f2fd;">
<!-- class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" -->
<!-- class="navbar navbar-light" style="background-color: #e3f2fd;" -->
    <a class="navbar-brand" href="#">Isa Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        
        

        {% if request.user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="/articles/dashboard">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/articles">Articles</a>
            </li>
        {% else %}
        
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        
      </ul>

      
      <ul class="navbar-nav ml-auto">

        {% if request.user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="/user/logout">Logout</a>
            </li>
        {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="/user/register">Register <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/user/login">Login</a>
            </li>
        {% endif %}

      </ul>

      <!--
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      -->
    </div>
  </nav>