{% extends "layout.html" %}

{% block body %}

<!--  -->
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Create Article</h3>
        <hr>

        <form method = "post" enctype="multipart/form-data">
            <!--  -->
            {% csrf_token %}
            {{form.media}}
            <!--  -->
            {{form|crispy}}

            <!--
            <div id="form-body">
                Title:{{form.title}}
                Content:{{form.content}}
                Article Image:{{article_image}}
            </div>  -->

            <br>
            <button type="submit" class="btn btn-danger" id="button_submit">Add Article</button>
        </form>

    </div>

</div>

<!--
<script type="application/javascript" charset="utf-8">
    $(document).ready(function(){
    // catch the submit event of the form.
    $('#myForm').submit(function(e){
        e.preventDefault();
        // create an AJAX call...
        $.ajax({
            // get the form data
            data: $('#myForm'.serialize(),
            // GET or POST
            type: $(‘#myForm’).attr(‘method’),
            // the file to call
              url: $(‘#myForm’).attr(‘action’),
              // on success..
              success: function(response) {
                  // Displays the success message.
                  alert(response[‘message’])
              },
              error: function(response){
                  // Displays the error message.
                  alert(response[‘message‘]);
              },
          });
     });
    });
</script>  -->

{% endblock body %}