{% extends "layout.html" %}

{% block body %}

<h3>Articles</h3>
<hr>

<p>
    Here we see articles, <small>{{request.user.username}}</small>
</p>

<hr>

<a class="btn btn-danger" href="/articles/addarticle">Add Article</a>

<hr>

{% if articles %}

<table class="table">
  <thead>
    <tr>
    <th scope="col">id</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Date</th>
    <th scope="col">Update</th>
    <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for article in articles %}
    <tr>
        <th scope="row">{{article.id}}</th>
        <td><a href="/articles/article/{{article.id}}">{{article.title}}</a></td>
        <td>{{article.author.username}}</td>
        <td>{{article.created_date}}</td>
        <td><a href="/articles/update/{{article.id}}" class="btn btn-warning">Update</a></td>
        <td><a href="/articles/delete/{{article.id}}" class="btn btn-danger">Delete</a></td>
    </tr>
  {% endfor %}

  </tbody>
</table>

{% else %}

<div class="alert alert-danger">
    You do not have any article here.
</div>

{% endif %}



{% endblock body %}