{% extends "layout.html" %}

{% block body %}

<h3>Dashboard</h3>
<hr>

<p>
    Welcome, <small>{{request.user.username}}</small>
</p>

<hr>

<a class="btn btn-danger" href="/articles/addarticle">Add Article</a>

<hr>

{% endblock body %}