{% extends "layout.html" %}

{% block body %}

<div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h3 class="mt-4">{{article.title}}</h3>

        <!-- Author -->
        <p class="lead">
          by
          {{article.author.username}}
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{article.created_date}}</p>

        <hr>

        <!-- Preview Image
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">  -->

        <hr>

        <!-- Post Content -->
        <p class="lead">
            {{article.content|safe}}
        </p>

        <hr>

      </div>

    </div>

{% endblock body %}