{% extends "../layout.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %)">

{% block body %}

    <div style="margin-top:2em;" class="jumbotron text-center">
        <h3>Welcome to my personal web-site.</h3>
        <p>My personal informations and blog pages are in this web-site.</p>
    </div>

    <p class="text-success">
        {% if request.user.is_authenticated %}
            Signed in {{request.user.username}}
        {% else %}
            Not Signed in
        {% endif %}
    </p>

{% endblock body %}

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>


<!-- {% load static %} -->
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}">  -->
