{% extends "../layout.html" %}

{% block body %}


    <h3>Upload</h3>
    <hr>

    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <input type="file" name="document">
        <button type="submit" class="btn btn-danger">Gönder</button>
    </form>


{% endblock body %}