{% extends "layout.html" %}

{% block body %}

{% load crispy_forms_tags %}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Generate QrCode</h3>
        <hr>

        <form method = "post">
            {% csrf_token %}

            <br>
            <button type="submit" class="btn btn-danger">Add QrCode</button>
        </form>

    </div>

</div>

{% endblock body %}